Django==3.1.7
psycopg2-binary==2.8.6 
asgiref==3.3.1
django-autoslug==1.9.8
django-cleanup==5.2.0
django-createuser==0.1.0
Pillow==8.2.0
pytz==2021.1
sqlparse==0.4.1
django-recaptcha==4.0.0

django-search-admin-autocomplete
django-multiselectfield
django-ckeditor
django-modeladmin-reorder
django-money
django-admin-list-filter-dropdown
django-admin-rangefilter
django-admin-autocomplete-filter
django-import-export

urllib3==1.26.7
transbank-sdk==5.0.0
python-dateutil

django-environ
gunicorn