{% load static %} {% static "" as baseUrl %}

<div class="container marketing" id="links">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-12 context">
            <h1>{{ listado_capTitulo | upper}}</h1>
          </div>

        <!-- <h1>{{listado}}</h1>   -->
        {% for value in listado_cap %}
          <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="media/{{ value.img}}" alt="">
                <h2 class="fw-normal">{{ value.titulo |capfirst }}</h2>
            </div>
        {% endfor %}  
        </div>
</div><!-- /.container -->