{% extends "web/root/origin.html" %} 
{% load static %} 
{% static "" as baseUrl %} 
{% block title %} 
  {{nameWeb}} {{ title }} 
{% endblock %} 

{% block header %} 

      {% include "socio/header/header_socios.html" %}

{% endblock %}

{% block appJsCss %}

<link href="{% static 'socio/css/toastr.min.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
      
     <br><br>

       

      <div class="container marketing" id="contacto">
        <div class="row">
          <div class="col-lg-12 text-center">
            <img src="{% static 'web/assets/logos/laurelDorado.png' %}  " style="padding-bottom: 0px!important;" />
            <h1 class="text-center" style="padding:5px">{{ titulo | upper}}</h1>
            <h4 class="text-center"style="padding-bottom:15px" > {{ name | upper}}</h4>
          </div>
        </div>
    <!-- Three columns of text below the carousel -->
        <form enctype="multipart/form-data" id="form_edicion" class="contact-form c-mb-30 c-gutter-30 col-lg-12" action= "{{urlForm}}"  method="POST" > {% csrf_token %}
          <div class="row" style="padding-bottom: 25px">
                
                 <div class="col-lg-6" >
                    <div class="form-group">
                         <label for="password1">{{ form.password1.label }}</label>
                         {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        <div class="pwstrength_viewport_progress1"></div>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="form-group">
                         <label >{{ form.password2.label }}</label>
                         {{ form.password2 }}
                    </div>
                    
                </div>
                
          </div>
          <div class="row justify-content-end">
              <div class="col-lg-3">
                  <button type="button" onclick="cambiarPassword()"  class="btn btn-primary"><strong>{{ btnAction }}</strong></button>
              </div>
       
          </div>
        </form>
      </div>

     




{% endblock %}


{% block extraJs %} 
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script> 
<script src="{% static 'usuarios/js/apps/pwstrength-bootstrap.min.js' %}"></script>
<script src="{% static 'socio/js/toastr.min.js' %}"></script> 
<script src="{% static 'socio/js/notificaciones.js' %}"></script>
<script src="{% static 'socio/js/solicitud.js' %}"></script>  
<script src="{% static 'socio/js/passwordProcess.js' %}"></script> 

{% endblock %}