{% extends "web/root/origin.html" %} 
{% load static %} 
{% static "" as baseUrl %} 
{% block title %} 
  {{nameWeb}} {{ title }} 
{% endblock %} 

{% block header %} 

      {% include "socio/header/header_socios.html" %}

{% endblock %}


{% block body %}


{% include "socio/banner/banner_general.html" %}
  
  <!-- /.container -->
  <div>
    {% for value in elClub %}
      <a href="media/{{ value.archivo}}"  class="btn btn-primary" style="width: auto;"target="_blank"> {{ value.titulo | upper}} </a>
    {% endfor %}
  </div>
  
<div class="container marketing" id="calendario">
  <div class="row ">

    <div class="col-lg-12 text-center" style="padding-top:40px">
      <h1 class=" ">{{ title | upper }} TEMPORADA {{ year }}
      </h1>

           

       
      <div class="d-flex justify-content-end">
        {% if rol == 'SUPER' or rol == 'SECR' %}
        <div class="col-lg-3 context">
           <a href="{%url 'torneoCreate' %}" class="btn btn-circle">+</a>

        </div>
        {% endif %}
      </div>
       {% if datos  %}
        <div class="table-responsive">
        <table class="table table-striped " >
          <thead>
            <tr style="background-color: red !important; color: white;">
              <th scope="col">ESTADO</th> 
              <th scope="col">FECHA</th>
              <th scope="col">CLUB</th>
              <th scope="col">REGIÓN</th>
              <th scope="col">BASES</th>
              <th scope="col">INSCRIPCIONES</th>
              <th scope="col">INSCRITOS</th>
              <th scope="col">SALIDAS</th>
              <th scope="col">RESULTADOS</th>
              <th scope="col">PREMIACIÓN</th>
              <th scope="col">GALERIA</th>
              <th scope="col">LISTADOS</th>
              {% if rol == 'SECR' or rol == 'SUPER' %}
              <th scope="col">SECRETARIO</th>
              {%endif%}
              {% if rol == 'T' or rol == 'SUPER' %}
              <th scope="col">TESORERO</th>
              {%endif%}
              {% if rol == 'CAP' or rol == 'SUPER'%}
              <th scope="col">CAPITAN</th>
              {%endif%}

            </tr>
          </thead>
          <tbody>
          {% for value in datos %}
            <tr>
                <td >
                  {% if rol == 'SECR' or rol == 'SUPER' %}
                      {% if value.activo %}
                      <img src="{% static 'web/assets/logos/activo.png' %}" style="padding:0px!important">
                      {%else%}
                      <img src="{% static 'web/assets/logos/noActivo.png' %}" style="padding:0px!important">
                      {%endif%}
                 {%endif%}

                 {% if value.actual %}
                 <img src="{% static 'web/assets/logos/laurelVerde.png' %}" style="width: 20px!important;padding:0px!important;" >
                 {%else%}
                 <img src="{% static 'web/assets/logos/laurelGris.png' %}" style="width: 20px!important;padding:0px!important;" >
                 {%endif%}
                 {% if value.abierto %}
                 <img src="{% static 'web/assets/logos/lockOpen.png' %}" style="padding:0px!important; width: 15px!important;">
                 {%else%}
                 <img src="{% static 'web/assets/logos/lockClose.png' %}" style="padding:0px!important; width: 15px!important;">
                 {%endif%}

                </td>
               <td>

                {{value.fecha|date:"d/m/Y"}}

              </td>
              <td>{{ value.titulo | upper }}</td>
              <td>{{ value.region }}</td>
              <td style="text-align: center;"> 
                {% if value.bases %}
                <a href="media/{{value.bases}}" target="_blank"> <img src="{% static 'web/assets/botones/bases_ok.png' %}" style="padding: 0px !important; width: 30px!important;"></a>
                {%else%}
                <img src="{% static 'web/assets/botones/bases.png' %}" style="padding: 0px !important; width: 30px!important;">
                {%endif%}</td>
              <td style="text-align: center;">

              {% if value.abierto %}
               <button onclick="crearCookie('torneoId', '{{value.id}}', '{% url 'solicitud'%}')" style="border-color: transparent;padding: 0px;border-width: 0px;"> 
                  <img src="{% static 'web/assets/botones/insc_ok.png' %}" style="padding: 0px !important; width: 30px!important;"> 
              </button>
              {% else %}
               <img src="{% static 'web/assets/botones/insc.png' %}" style="padding: 0px !important; width: 30px!important;"> 
              {%endif%}
              </td>
              <td style="text-align: center;">
             
                <button onclick="crearCookie('torneoId', 
                '{{value.id}}', '{% url 'inscritos'%}')" style="border-color: transparent;padding: 0px;border-width: 0px;"> 
                  <img src="{% static 'web/assets/botones/inscritos_ok.png' %}"style="padding: 0px !important; width: 30px!important;"> 
                </button>

              </td>
              <td style="text-align: center;">
                {% if value.list_salidas %}
                <a href="media/{{value.list_salidas}}" target="_blank"> <img src="{% static 'web/assets/botones/salidas_ok.png' %}" style="padding: 0px !important; width: 30px!important;"  ></a>
                {%else%}
                <img src="{% static 'web/assets/botones/salidas.png' %}" style="padding: 0px !important; width: 30px!important;">
                {%endif%}
               
              </td>
              <td style="text-align: center;">
                {% if value.resultados %}
                <a href="media/{{value.resultados}}" target="_blank"> <img src="{% static 'web/assets/botones/resultados_ok.png' %}" style="padding: 0px !important; width: 30px!important;"></a>
                {%else%}
                <img src="{% static 'web/assets/botones/resultados.png' %}" style="padding: 0px !important; width: 30px!important;">
                {%endif%}
               
              </td>

               <td style="text-align: center;">
                {% if value.premiacion %}
                <a href="media/{{value.premiacion}}" target="_blank"> <img src="{% static 'web/assets/botones/premiacion_ok.png' %}" style="padding: 0px !important; width: 30px!important;" ></a>
                {%else%}
                <img src="{% static 'web/assets/botones/premiacion.png' %}" style="padding: 0px !important; width: 30px!important;">
                {%endif%}
               
              </td>

              
              <td style="text-align: center;">
                {% if value.galeria != 'No Disponible' %}
                <a href="{{value.galeria}}" target="_blank"> <img src="{% static 'web/assets/botones/galeria_ok.png' %}" style="padding: 0px !important; width: 30px!important;"  ></a>
                {%else%}
                <img src="{% static 'web/assets/botones/galeria.png' %}" style="padding: 0px !important; width: 30px!important;">
                {%endif%}
               
              </td>
              <td style="text-align: center;">
                
              <button onclick="crearCookie('torneoId', 
                '{{value.id}}', '{% url 'bus'%}')" style="border-color: transparent;padding: 0px;border-width: 0px;"> 
                  BUS 
              </button><br>
              <button onclick="crearCookie('torneoId', 
                '{{value.id}}', '{% url 'auto'%}')" style="border-color: transparent;padding: 0px;border-width: 0px;"> 
                  PATENTES
              </button>
              <button onclick="crearCookie('torneoId', 
                '{{value.id}}', '{% url 'carro'%}')" style="border-color: transparent;padding: 0px;border-width: 0px;"> 
                  CARRO
              </button>
              </td>  

              {% if rol == 'SECR' or rol == 'SUPER' %}
              <td style="text-align: center;">
                <button onclick="crearCookie('torneoId', 
                '{{value.id}}', '{% url 'torneoUpdate'%}')" style="border-color: transparent;padding: 0px;border-width: 0px;"> 
                  TORNEO
              </button> <br>

              <button onclick="crearCookie('torneoId', 
                '{{value.id}}', '{% url 'export_csv_inscritos'%}')" style="border-color: transparent;padding: 0px;border-width: 0px;"> 
                  LISTADO
              </button>
              


              </td>  
              {%endif%}
              {% if rol == 'T' or rol == 'SUPER' %}
              <td style="text-align: center;">
                <button onclick="crearCookie('torneoId', 
                '{{value.id}}', '{% url 'export_csv_solicitudes'%}')" style="border-color: transparent;padding: 0px;border-width: 0px;"> 
                  INSCRITOS  
              </button> 

              </td> 
              {%endif%}
              {% if rol == 'CAP' or rol == 'SUPER'%}
              <td style="text-align: center;">
                <button onclick="crearCookie('torneoId', 
                '{{value.id}}', '{% url 'export_csv_solicitudesAprobadas'%}')" style="border-color: transparent;padding: 0px;border-width: 0px;"> 
                  INSCRITOS
              </button> <br>
              <button onclick="crearCookie('torneoId', 
                '{{value.id}}', '{% url 'salida'%}')" style="border-color: transparent;padding: 0px;border-width: 0px;"> 
                  TORNEO
              </button>
              </td> 
              {%endif%} 

            <tr>
           {% endfor%}
          </tbody>
        </table>
        </div>
      {% endif %}

     
    </div>
  </div>
</div>

 <div class="container marketing">      
    <div class="row">
      <div class="col align-self-end">
        {% if datos %}
        <nav class="navigation pagination" role="navigation">
              <div class="nav-links">
              {% if datos.has_previous %}
                  <a class="prev page-numbers" href="?page={{ datos.previous_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar}}{% endif %}">
                    <i class="fa fa-chevron-left"></i>
                   </a>
                  {% if datos.previous_page_number != 1%}

                    <a class="page-numbers" href="?page=1{% if request.GET.buscar %}&buscar={{ request.GET.buscar}}{% endif %}" class="btn btn-white">
                        <span class="meta-nav screen-reader-text">Page </span>
                        1
                    </a>
                {% endif %}
                    {% if  down  %}
                    <a class="page-numbers disable" >
                      ...
                  </a>
                  {% endif %}
                  <a class="prev page-numbers" href="?page={{ datos.previous_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar}}{% endif %}">
                    {{ datos.previous_page_number }}
                   </a>
              
              {% endif %}

                <span class="page-numbers current">
                    {{ datos.number }}
                </span>
               {% if datos.has_next %}

                <a class="next page-numbers" href="?page={{ datos.next_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar}}{% endif %}">
                    {{ datos.next_page_number }}
                </a>
                {% if  up  %}
                  <a class="page-numbers disable" >
                    ...
                </a>
                {% endif %}

                {% if datos.next_page_number != datos.paginator.num_pages %}
                <a class="prev page-numbers" href="?page={{ datos.paginator.num_pages  }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar}}{% endif %}">
                  {{ datos.paginator.num_pages  }}
                 </a>

                {% endif %}
                <a class="prev page-numbers" href="?page={{ datos.next_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar}}{% endif %}" >
                  <i class="fa fa-chevron-right"></i>
                 </a>


                {% endif %}
            </div>
        </nav>
        {% endif %}
      </div>  
    </div>
</div>
{% endblock %}
{% block extraJs %} 

<script src="{% static 'socio/js/solicitud.js' %}"></script>    
{% endblock %}
