{% load static %} {% static "" as baseUrl %}

<div class="container marketing" id="links">
  <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-12 context">
        <h1> {{ value.titulo  | upper }}</h1>
        <p>{{ value.contenido|safe }}</p>
        {% if value.file != ''%}
         <iframe id="inlineFrameExample" 
            title="Inline Frame Example" 
            width="100%" 
            height="800" 
            src= "media/{{ value.file }}"> 
        </iframe> 
        {% endif %}
        
      </div>
    </div>
</div>